server.maxplayers 1
# Use TruePVE to manage damage rules; keep server.pve disabled
server.pve false
server.saveinterval 300
decay.scale 0.5
heli.lifetimeminutes 15
spawn.max_rate 1
spawn.max_density 1
spawn.min_density 1
server.ip 0.0.0.0
server.secure 1
server.tags "solo,pve,oxide,events,raids"
